<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class='top-page-header'>
  <div class='search-bar-contents'>
    <%= link_to("/")  do %>
      <%= image_tag("ネット接続アイコン3.png", class:"idm-icon") %>
      <div class="app-title">IDMアプリ</div>
    <% end %>
    <div class='title-content'>
      <div class='title-message'>
        データ保存・通信をする情報機器を管理するアプリ
      </div>

      <%= search_form_for Item.ransack(params[:q]), url: search_items_path, local: true, html:{class: "search-form"} do |f| %>
        <%= f.text_field :item_or_serial_number_or_id_cont, placeholder: '機器名・S/Nから検索できます（部分一致）', class: "input-box" %>
        <%= f.submit "検索", class: "search-button list-hover" %>
    </div>
  </div>

  <div class='nav'>
    <div class='lists-left'>
      <div class='category-list' id='category'>
        <div class='category-lists list-hover btn-style' id='category-search-btn'>
          カテゴリー検索
        </div>
        <div class='hidden' id='category-pull-down'>
          <%= f.collection_check_boxes :category_id_in, Category.all, :id, :name do |cb| %>
            <div class="form-check">
              <%= cb.check_box %>
              <%= cb.label %>
            </div>
          <% end %>
        </div>
      </div>
        
      <div class='status-list' id='status'>
        <div class='status-lists list-hover btn-style' id='status-search-btn'>
          利用状況検索
        </div>
        <div class='hidden' id='status-pull-down'>
          <%= f.collection_check_boxes :status_id_in, Status.all, :id, :name do |cb| %>
            <div class="form-check">
              <%= cb.check_box %>
              <%= cb.label %>
            </div>
          <% end %>
      <% end %><%#=search_form_forの終了場所%>
        </div>
      </div>
    </div>



    <ul class='lists-right'>
      <% if user_signed_in? %>
        <% if current_user&.admin?%>
        <li><%= link_to "ユーザ一覧", users_path, class: "user-list list-hover btn-style" %></li> 
        <% end %>
        <li><%= link_to current_user.name, edit_user_registration_path, class: "user-name list-hover btn-style" %></li> 
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout list-hover btn-style" %></li> 
      <% else %>
        <li><%= link_to 'ログイン', new_user_session_path, class: "login list-hover btn-style" %></li>
        <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up list-hover btn-style" %></li>
      <% end %>
    </ul>
  </div>
</header>