<%= render "shared/header" %>

<div class="item-show">
  <div class="item-box">
    <h2 class="items-title">機器情報詳細</h2>  

    <table>
      <tr>
        <th>機器ID</th>
        <td><%= @item.id %></td>
      </tr>
      <tr>
        <th>状態</th>
        <td><%= @item.status.name %></td>
      </tr>
      <tr>
        <th>所属</th>
        <td><%= @item.user.affiliation %></td>
      </tr>
      <tr>
        <th>所有者名</th>
        <td><%= @item.user.name %></td>
      </tr>
      <tr>
        <th>機器種類</th>
        <td><%= @item.category.name %></td>
      </tr>
      <tr>
        <th>機器名</th>
        <td><%= @item.item %></td>
      </tr>
      <tr>
        <th>メーカー</th>
        <td><%= @item.manufacturer %></td>
      </tr>
      <tr>
        <th>IPアドレス</th>
        <td><%= @item.ip %></td>
      </tr>
      <tr>
        <th>S/N</th>
        <td><%= @item.serial_number %></td>
      </tr>
      <tr>
        <th>購入年月</th>
        <td><%= @item.purchase_date %></td>
      </tr>
      <tr>
        <th>利用予定年数</th>
        <td><%= @item.years_of_use %></td>
      </tr>
      <tr>
        <th>備考</th>
        <td><%= @item.remarks %></td>
      </tr>
      <tr>
        <th>添付ファイル</th>
        <td>      
          <% if @item.image.attached? %>
            <%= link_to @item.image.filename, url_for(@item.image) %>
          <% else %>
            ファイルが存在しません
          <% end %>
        </td>
    </table>
    
    <div class='item-show-supplement'>※設置場所についてはユーザの所属をご変更ください</div>

    <% if user_signed_in? && current_user.id == @item.user_id || current_user&.admin?%>
      <%= link_to "機器情報の編集", edit_item_path(@item.id), method: :get, class: "item-red-btn" %>
      <%= link_to "削除", item_path(@item.id), method: :delete, class:"item-destroy" %>
    <% end %>

  </div>
  <%=link_to 'もどる', root_path, class:"back-btn" %>
</div>