<%= render "shared/header" %>

<div class="item-show">
  <div class="item-box">
    <h2 class="name">
      id:<%= @item.id %>
      機器名:<%= @item.item %>
      設置場所:<%= @item.user.affiliation %>
    </h2>
  </div>

  <% if user_signed_in? && current_user.id == @item.user_id %>
    <%= link_to "商品の編集", edit_item_path(@item.id), method: :get, class: "item-red-btn" %>
    <p class="or-text">or</p>
    <%= link_to "削除", item_path(@item.id), method: :delete, class:"item-destroy" %>
  <% end %>
  
  <div class="item-box">
    <div class="item-category">
      カテゴリ：<%= @item.category.name %>
    </div>
    <div class="item-status">
      ステータス：<%= @item.status.name %>
    </div>
    <div class="item-manufacturer">
      メーカー：<%= @item.manufacturer %>
    </div>
    <div class="item-serial-number">
      S/N：<%= @item.serial_number %>
    </div>
    <div class="item-ip">
      IPアドレス：<%= @item.ip %>
    </div>
    <div class="item-purchase-date">
      購入年月：<%= @item.purchase_date %>
    </div>
    <div class="item-years-of-use">
      利用予定年数：<%= @item.years_of_use %>
    </div>
    <div class="item-remarks">
      備考：<%= @item.remarks %>
    </div>
    
    <div class="item-img-content">
      <% if @item.image.attached? %>
        <%= link_to @item.image.filename, url_for(@item.image) %>
      <% else %>
        ファイルが存在しません
      <% end %>
    </div>
    
  </div>
  <%=link_to 'もどる', root_path, class:"back-btn" %>
</div>